<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Gerador de música do ano</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="center">
                <button id="login_btn" onclick="login()">Login and generate!</button>
            <div>
        </main>
        <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    </body>
</html>
