<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Gerador de música do ano</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="center">
                <button id="generate" onclick="generateSong()">
                    <div id="generate-btn-content">Login and generate!</div>
                    <div class="loader" id="loading" style="display: none;"></div>
                </button>
            <div>
        </main>
        <script src="{{ url_for('static', filename='logged_in.js') }}" defer></script>
    </body>
</html>
