<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Gerador de música do ano</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>The Prompters: Gerador de música do ano</h1>
        </header>
        <main>
            <form class="center">
                <input id="prompt" type="text" placeholder="Que tipo de mashup vamos gerar?">
                <button id="generate" onclick="generateSong()">
                    <div id="generate-btn-content">Generate!</div>
                    <div class="loader" id="loading" style="display: none;"></div>
                </button>
            <form>
        </main>
        <script src="{{ url_for('static', filename='logged_in.js') }}" defer></script>
    </body>
</html>
